<div class="image" >
  <div class="mockup" >
     <p class="hashtag" >#<%= @district.name %></p>
    <%= image_tag "aire-commune.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <p class="hashtag">#<%= @district.name %></p>
    <%= image_tag "bagels.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <p class="hashtag">#<%= @district.name %></p>
    <%= image_tag "lagare.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <p class="hashtag">#<%= @district.name %></p>
    <%= image_tag "demo.jpg", class:"image-section"  %>
  </div>
</div>
