
<!-- <!-- //======================================================================== Recomendations
 -->
<div class="recomendation">
  <% unless session[:top_districts].nil? %>
    <% districts = session[:top_districts].map { |id| District.find(id) } %>
      <% districts.each do |district| %>
        <%= link_to district_path(district, original_suggestion: params[:id]) do %>
        <div class="card-map-infos">
          <div class="card-product" data-district-location="<%= district.location %>">
            <div class="card-product-infos">
              <h2><%= district[:name] %></h2>
              <div class="scoreofcriterias">
                <p class="score score-<%= district.get_color_score("restaurant_score") %> restaurant"><%= inline_svg "restaurant.svg", class: 'logo-icon' %></p>
                <p class="score score-<%= district.get_color_score("school_score") %> school"><%= inline_svg "school.svg", class: 'logo-icon' %></p>
                <p class="score score-<%= district.get_color_score("park_score") %> park"><%= inline_svg "leaf.svg", class: 'logo-icon' %></p>
                <p class="score score-<%= district.get_color_score("bixi_score") %> bike"><%= inline_svg "bike.svg", class: 'logo-icon' %></p>
                <p class="score score-<%= district.get_color_score("subway_score") %> subway"><%= inline_svg "subway.svg", class: 'logo-icon' %></p>
                <p class="score score-<%= district.get_color_score("dog_score") %> dog"><%= inline_svg "dog.svg", class: 'logo-icon' %></p>
                <p class="score score-<%= district.get_color_score("parking_score") %> car"><%= inline_svg "car.svg", class: 'logo-icon' %></p>
                <p class="score score-<%= district.get_color_score("quiet_score") %> quiet"><%= inline_svg "sound.svg", class: 'logo-icon' %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
