    <div class="container map-display">
      <div class="row">
        <div class="col-xl-8 col-lg-6">
          <div
          class="map"
          id="map"
          style="width: 100%;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
        <div class="col-xl-4 col-lg-6 right-column">
          <div id="districts-card" style="display: none;">
          </div>
          <h2 class="criteria-title">Select your 3 main criterias</h2>
          <div class="selection">

            <input type="text" id="coordinates-to-show" class="hidden">
            <button id="refresh-map" class="hidden"></button>

            <input type="text" id="fly-to" class="hidden">
            <button id="submit-to-fly" class="hidden"></button>

            <%= form_tag maps_path, method: :get, remote: true do %>
            <input type="hidden" name="criteria[]" value="">
            <div class="category-choices">
              <div class='margin-bt-small'>
                <input type="checkbox" name="criteria[]" class="hidden" value="restaurant" id="post_category_ids_icon_restaurant">
                <label class="category-choice" for="post_category_ids_icon_restaurant">
                  <%= inline_svg "restaurant.svg", class: 'logo-icon' %>
                  <p class="criteria-text" >Restos</p>
                </label>

              </div>
              <div class='margin-bt-small'>
                <input type="checkbox" name="criteria[]" class="hidden" value="school" id="post_category_ids_icon_school">
                <label class="category-choice" for="post_category_ids_icon_school">
                  <%= inline_svg "school.svg", class: 'logo-icon' %>
                <p class="criteria-text" >Schools</p>
                </label>
              </div>
              <div class='margin-bt-small'>
                <input type="checkbox" name="criteria[]" class="hidden" value="park" id="post_category_ids_icon_park">
                <label class="category-choice" for="post_category_ids_icon_park">
                  <%= inline_svg "leaf.svg", class: 'logo-icon' %>
                <p class="criteria-text" >Parks</p>
                </label>
              </div>
              <div class='margin-bt-small'>
                <input type="checkbox" name="criteria[]" class="hidden" value="bike" id="post_category_ids_icon_bike">
                <label class="category-choice" for="post_category_ids_icon_bike">
                  <%= inline_svg "bike.svg", class: 'logo-icon' %>
                <p class="criteria-text" >Bixi</p>
                </label>
              </div>
              <div class='margin-bt-small'>
                <input type="checkbox" name="criteria[]" class="hidden" value="subway" id="post_category_ids_icon_subway">
                <label class="category-choice" for="post_category_ids_icon_subway">
                  <%= inline_svg "subway.svg", class: 'logo-icon' %>
                <p class="criteria-text" >Subway</p>
                </label>
              </div>
              <div class='margin-bt-small'>
                <input type="checkbox" name="criteria[]" class="hidden" value="dog" id="post_category_ids_icon_dog">
                <label class="category-choice" for="post_category_ids_icon_dog">
                  <%= inline_svg "dog.svg", class: 'logo-icon' %>
                <p class="criteria-text" >Dog</p>
                </label>
              </div>
              <div class='margin-bt-small'>
                <input type="checkbox" name="criteria[]" class="hidden" value="car" id="post_category_ids_icon_car">
                <label class="category-choice" for="post_category_ids_icon_car">
                  <%= inline_svg "car.svg", class: 'logo-icon' %>
                <p class="criteria-text" >Car</p>
                </label>
              </div>
              <div class='margin-bt-small'>
                <input type="checkbox" name="criteria[]" class="hidden" value="quiet" id="post_category_ids_icon_quiet">
                <label class="category-choice" for="post_category_ids_icon_quiet">
                  <%= inline_svg "sound.svg", class: 'logo-icon' %>
                <p class="criteria-text" >Quiet</p>
                </label>
              </div>
            </div>
            <%= button_tag :submit, class: "hidden", id: "submit-criteria" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>




